# Логи
*.log

# Артефакты систем сборки
/build/
/dist/
/out/

# Папка node_modules для проектов на Node.js
/node_modules/

# Папки, созданные IDE
/.idea/
/.vscode/
/.nbproject/

# Заметки разработчика
notes.txt
todo.md
*.tmp
